<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>問題單協助確認</title>
<link href="img/tor.png" rel="icon" type="image/png"/></head>
<body>
<p>Question 1. 請問如果您解這張問題單時，有使用以下參數和背景資料?</p>
<form method="post">  
        使用參數
        <input name="Product_1" type="checkbox" value="1"/> 中午上班前是否需要刷上班卡   1.要   2.不要<br/>
<input name="Product_2" type="checkbox" value="2"/> 中午是否彈性上班，true啟動，false不啟動<br/>
<input name="Product_3" type="checkbox" value="3"/> 中午彈性上班時間<br/>

        使用背景資料
        <input name="Product_1" type="checkbox" value="1"/> 上班別<br/>
<input name="Product_2" type="checkbox" value="2"/> 出勤資料檔<br/>
<input name="Product_3" type="checkbox" value="3"/> 加班資料<br/>
</form>
</body>
</html>